<!doctype html>
<head>
    <title>OC-DataScientist-P7</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold text-primary">Comment utiliser cette API ?</h1>            
            <p class="fs-5">
                La méthode 'predict' du modèle utilisé par l'API utilise ces 8 variables :
				['EXT_SOURCE_3', 'EXT_SOURCE_2', 'PAYMENT_RATE', 'EXT_SOURCE_1', 'NAME_FAMILY_STATUS_Married', 'CODE_GENDER_F', 'AMT_ANNUITY', 'APPROVED_CNT_PAYMENT_MEAN']
            </p>
		</div>
     </main>      
   </body>
</html>